<div class="container">
  <h1>mole street</h1>
  <p class="text-center text-muted">
    The underground stock exchange
  </p>
  <app-template-quote small="true" click="true" [quote]="msAll" *ngIf="msAll"></app-template-quote>
  <ul>
    <li>
      <a routerLink="sign-in">Sign In</a>
    </li>
    <li>
      <a routerLink="quotes">Quote List</a>
    </li>
    <!-- <li>
      <a routerLink="list/sectors">Sectors</a>
    </li>
    <li>
      <a routerLink="list/indices">Indices</a>
    </li> -->
  </ul>
</div>
