<div *ngIf="quote && !small" class="template-quote" [ngClass]="{'quote-pad': click}">
  <ng-container *ngIf="!click">
    <h2>
      {{quote.name | uppercase }} ({{quote.symbol}})
    </h2>
    <p>
      <a routerLink="/quotes">Back to list</a>
    </p>
  </ng-container>

  <div class="quote-title" (click)="go()">
    <p class="quote-name">
      {{quote.name | uppercase }} ({{quote.symbol}})
    </p>
    <p class="quote-last">
      {{last.last}}
      <span [ngClass]="{'text-success': changePrev.value > 0, 'text-danger': changePrev.value < 0}">
        {{changePrev.value | number}}
        <i class="fa fa-lg fa-caret-up" *ngIf="changePrev.value > 0"></i>
        <i class="fa fa-lg fa-caret-down" *ngIf="changePrev.value < 0"></i>
        ({{changePrev.percent | number}}%)
      </span>
    </p>
    <p>
      Last Trade Time: {{lastTime | date:'medium'}}
    </p>
    <div class="row quote-table" *ngIf="!click">
      <div class="col-xs-6 col-sm-4 col-md-3">
        <span>Last</span>
        {{last.last}}
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <span>Change</span>
        {{changePrev.value}}
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <span>Change %</span>
        {{changePrev.percent}}%
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <span>Volume</span>
        {{last.volume}}
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <span>Open</span>
        {{quote.open}}
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <span>High</span>
        {{quote.high}}
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <span>Low</span>
        {{quote.low}}
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <span>Prev</span>
        {{last.prev}}
      </div>
    </div>
  </div>
</div>

<div *ngIf="quote && small"
  (click)="go()"
  class="template-quote-small"
  [ngClass]="{'text-success': changeOpen.value > 0, 'text-danger': changeOpen.value < 0}">
  <p>
    {{quote.symbol}}
    <span>{{last.last}}</span>
  </p>
  <p>
    {{changeOpen.value}}
    <i class="fa fa-lg fa-caret-up" *ngIf="changeOpen.value > 0"></i>
    <i class="fa fa-lg fa-caret-down" *ngIf="changeOpen.value < 0"></i>
    ({{changeOpen.percent | number}}%)
  </p>
</div>

