.template-quote {
  .quote-title {
    border: silver solid 1px;
    border-radius: 5px;
    padding: 5px;
    color: rgb(80,80,80);
    p {
      margin: 0;
    }
    .quote-name {
      font-size: 1.5em;
    }
    .quote-last {
      font-size: 2.5em;
      span {
        font-size: 0.5em;
      }
    }
  }
  .quote-table {
    margin: 0;
    div {
      padding: 3px;
      span {
        font-variant: small-caps;
        display: block;
        color: grey;
      }
    }
  }
}

.template-quote.quote-pad {
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.template-quote.quote-pad:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.template-quote-small {
  display: inline-block;
  color: rgb(80,80,80);
  cursor: pointer;
  p {
    margin: 0;
    padding: 0 10px;
  }
  span {
    font-size: 2em;
  }
}

.template-quote-small:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 5px;
}

