<div *ngIf="quote && !small" class="template-quote" [ngClass]="{'quote-pad': click}">
  <ng-container *ngIf="!click">
    <h2>
      {{quote.name | uppercase }} ({{quote.symbol}})
    </h2>
    <p>
      <a routerLink="/quotes">Back to list</a>
    </p>
  </ng-container>

  <div class="quote-title" (click)="go()">
    <p class="quote-name">
      {{quote.name | uppercase }} ({{quote.symbol}})
    </p>
    <p class="quote-last">
      {{last.last}}
      <span [ngClass]="{'text-success': changePrev.value > 0, 'text-danger': changePrev.value < 0}">
        {{changePrev.value | number}}
        <i class="fa fa-lg fa-caret-up" *ngIf="changePrev.value > 0"></i>
        <i class="fa fa-lg fa-caret-down" *ngIf="changePrev.value < 0"></i>
        ({{changePrev.percent | number}}%)
      </span>
    </p>
    <p>
      Last Trade Time: {{lastTime | date:'medium'}}
    </p>
    <div class="row quote-table" *ngIf="!click">
      <div class="col-xs-6 col-sm-4 col-md-3">
        <span>Last</span>
        {{last.last}}
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <span>Change</span>
        {{changePrev.value}}
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <span>Change %</span>
        {{changePrev.percent}}%
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <span>Volume</span>
        {{last.volume}}
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <span>Open</span>
        {{quote.open}}
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <span>High</span>
        {{quote.high}}
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <span>Low</span>
        {{quote.low}}
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <span>Prev</span>
        {{last.prev}}
      </div>
    </div>
  </div>
</div>

<div *ngIf="quote && small"
  (click)="go()"
  class="template-quote-small"
  [ngClass]="{'text-success': changeOpen.value > 0, 'text-danger': changeOpen.value < 0}">
  <p>
    {{quote.symbol}}
    <span>{{last.last}}</span>
  </p>
  <p>
    {{changeOpen.value}}
    <i class="fa fa-lg fa-caret-up" *ngIf="changeOpen.value > 0"></i>
    <i class="fa fa-lg fa-caret-down" *ngIf="changeOpen.value < 0"></i>
    ({{changeOpen.percent | number}}%)
  </p>
</div>

<div *ngIf="quote && action == 'buy'">
  <h2>Buy {{quote.symbol}}</h2>
  <form [formGroup]="buyForm" (ngSubmit)="onBuySubmit()">
    <div class="input-group">
      <label class="col-sm-4 col-form-label"># shares</label>
      <div class="col-sm-8">
        <input type="text" class="form-control"
          formControlName="shares">
      </div>
    </div>
    <div class="input-group">
      <label class="col-sm-4 col-form-label">price</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control-plaintext" value="$ {{last.last}}">
      </div>
    </div>
    <div class="input-group">
      <label class="col-sm-4 col-form-label">Net price</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control-plaintext" value="$ {{last.last}}">
      </div>
    </div>
    <div class="input-group">
      <label class="col-sm-4 col-form-label">available</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control-plaintext">
      </div>
    </div>
    <div>
      <button class="btn btn-outline-secondary" (click)="onCancel()">Cancel</button>
      <button class="btn btn-success" type="submit"
        [disabled]="!buyForm.valid">buy</button>
    </div>
  </form>
</div>

<div *ngIf="quote && action == 'sell'">
  <h2>Sell {{quote.symbol}}</h2>
  <form [formGroup]="sellForm" (ngSubmit)="onSellSubmit()">
    <div class="input-group">
      <label class="col-sm-4 col-form-label"># shares</label>
      <div class="col-sm-8">
        <input type="text" class="form-control"
          formControlName="shares">
      </div>
    </div>
    <div class="input-group">
      <label class="col-sm-4 col-form-label">price</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control-plaintext" value="$ {{last.last}}">
      </div>
    </div>
    <div class="input-group">
      <label class="col-sm-4 col-form-label">Net price</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control-plaintext" value="$ {{last.last}}">
      </div>
    </div>
    <div class="input-group">
      <label class="col-sm-4 col-form-label">available</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control-plaintext">
      </div>
    </div>
    <div>
      <button class="btn btn-outline-secondary" (click)="onCancel()">Cancel</button>
      <button class="btn btn-success" type="submit"
        [disabled]="!buyForm.valid">sell</button>
    </div>
  </form>
</div>
