<div *ngIf="stock && !small" class="template-stock" [ngClass]="{'stock-pad': isList}">
  <ng-container *ngIf="!isList">
    <h2>
      {{stock.name | uppercase }} ({{stock.initials}})
    </h2>
    <p>
      <a routerLink="/stocks">Back to list</a>
    </p>
  </ng-container>

  <div class="stock-title" (click)="go()">
    <p class="stock-name">
      {{stock.name | uppercase }} ({{stock.initials}})
    </p>
    <p class="stock-last">
      {{stock.last}}
      <span [ngClass]="{'text-success': stock.change > 0, 'text-danger': stock.change < 0}">
        {{stock.change}}
        <i class="fa fa-lg fa-caret-up" *ngIf="stock.change > 0"></i>
        <i class="fa fa-lg fa-caret-down" *ngIf="stock.change < 0"></i>
        ({{getChange()}})
      </span>
    </p>
    <p>
      Last Trade Time: {{stock.time | date:'medium'}}
    </p>
    <div class="row stock-table" *ngIf="!isList">
      <div class="col-xs-6 col-sm-4 col-md-3">
        <span>Last</span>
        {{stock.last}}
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <span>Change</span>
        {{stock.change}}
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <span>Change %</span>
        {{getChange()}}
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <span>Volume</span>
        {{stock.volume}}
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <span>Open</span>
        {{stock.open}}
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <span>High</span>
        {{stock.high}}
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <span>Low</span>
        {{stock.low}}
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <span>Prev</span>
        {{stock.prev}}
      </div>
    </div>
  </div>
</div>

<div *ngIf="stock && small"
  (click)="go()"
  class="template-stock-small"
  [ngClass]="{'text-success': stock.change > 0, 'text-danger': stock.change < 0}">
  <p>
    {{stock.initials}}
    <span>{{stock.last}}</span>
  </p>
  <p>
    {{stock.change}}
    <i class="fa fa-lg fa-caret-up" *ngIf="stock.change > 0"></i>
    <i class="fa fa-lg fa-caret-down" *ngIf="stock.change < 0"></i>
    ({{getChange()}})
  </p>
</div>
