/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: 'Lato', sans-serif;
}

h1 {
  text-align: center;
  font-variant: small-caps;
  margin: 0;
}

h2, h3, h4 {
  font-variant: small-caps;
}